body {
    background: url('http://localhost/HELPMATE/Resources/main_img(2)_ed23.jpg');
    font-family: 'Trebuchet MS', sans-serif;
}

.main_container {
    width: 1100px;
    height: 650px;
    margin: 5%;
    display: flex;
    background-color: transparent;
    border-radius: 10px;
}

.forgot {
    width: 600px;
    height: 800px;
}

form h1 {
    color: rgba(255, 255, 255, 0.8);
    text-align: center;
    text-transform: uppercase;
    font-weight: bolder;
}

h2 {
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Lato', cursive;
    font-size: 19px;
    opacity: 0.9;
    font-style: italic;
    text-align: center;
    font-weight: lighter;
}

p {
    text-align: center;
}

form {
    width: 320px;
    margin: 100px auto;

}

form label {
    color: rgba(255, 255, 255, 0.8);
    display: block;
    font-size: 20px;
    font-weight: 600;
    padding: 8px;
}

::placeholder {
    font-style: italic;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.8);
}

::-webkit-calendar-picker-indicator {
    filter: invert(0.9);
}

input {
    width: 100%;
    padding: 8px;
    margin: 8px;
    outline: none;
    border: none;
    color: rgba(255, 255, 255, 0.8);
    background-color: transparent;
    font-size: 15px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
    border-radius: 5px;
}

.button {
    font-weight: bold;
    width: 300px;
    height: 60px;
    margin-top: 15px;
    margin-left: 36px;
    padding: 8px;
    outline: none;
    border: none;
    border-radius: 20px;
    opacity: 0.8;
    color: rgba(255, 255, 255, 0.8);
    font-size: 25px;
}

.button:hover {
    background-color: purple;
    color: rgb(255, 255, 255);
    opacity: 1;
    width: 450px;
    height: 60px;
    margin-left: -45px;
    font-size: 20px;
    transition: 0.7s;
}
